.elgg-button-discussion-add {
	display: block;
	text-align: center;
	max-width: 300px;
	margin: 0 auto;
}
.elgg-button-discussion-add.elgg-state-active {
	display: none;
}
.group-discussion-widget-form {
	position: relative;
}
.group-discussion-widget-form [rel="close"] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 5px;
}
.group-discussion-widget-form .elgg-form {
    margin: 5px 0;
    padding: 15px 0 10px;
	border-width: 1px 0;
	border-style: solid;
	border-color: #dcdcdc;
}